<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link <link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Bungee+Hairline|Kameron" rel="stylesheet">
  <title>Epic Inventory</title>
</head>
<header><h1>Epic Records</h1></header>
<navbar>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <div class="dropdown">
        <span><a href="/artists">Artists</a></span>
        <div class="dropdown-content">
          <a href="/artists/new">Add New Artist</a>
        </div>
      </div>
    </li>
    <li>
      <div class="dropdown">
        <span><a href="/albums">Albums</a></span>
        <div class="dropdown-content">
          <a href="/albums/new">Add New Album</a>
        </div>
      </div>
    </li>
  </ul>
</navbar>
<body>
<%= yield %>
<footer><h3>Epic Records...where everything sounds epic!</h3></footer>
</body>
</html>
