<h2>Artists</h2>

<table>
  <tr>
    <th>Artist ID</th>
    <th>Name</th>
  </tr>

  <% @artists.each do |artist| %>

  <tr>
    <td><%= artist.id %></td>
    <td><a href="/artists/<%= artist.id %>" method="get"><%= artist.name %></a></td>
    </tr>
  <% end %>
</table>
