<h2>Artists</h2>

<p><a href="/artists/new">Add New Artist</a></p>

<table>
  <tr>
    <th>Artist ID</th>
    <th>Name</th>
  </tr>

  <% @artists.each do |artist| %>

  <tr>
    <td><%= artist.id %></td>
    <td><%= artist.name %></td>
    <td><form action="/artists/<%= artist.id %>" method="get">
       <input type="submit" value="Artist Inventory"></td>
      </tr>
    </form>

<% end %>
</table>
