<h2>Add New Artist</h2>

<form method="post" action="/artists">
  <label for="artist_name">Artist Name</label>
  <input type="text" name="name" id="artist_name" required>
  <div id="add_artist_button">
    <button type="submit">Add Artist</button>
  </div>
</form>
