<h2><%= @artist.name %></h2>

<div>
<% for album in @artist.albums %>
<img src="../album_art/<%= album.id %>.jpg" alt="<%= album.title %>"/>
<% end %>

  <table>
    <td><form action="/artists/<%= @artist.id %>/delete" method="post">
      <input type="submit" value="Delete Artist"></td>
    </tr>
  </form>
</table>
