
<h2>Add New Album</h2>

<form method="post" action="/albums">

  <label for="artist_name"> Artist </label>
  <select id="artist_name" name="artist_id">
    <% @artists.each do |artist| %>
    <option value=<%= artist.id %>><%= artist.name %> </option>
    <% end  %>
  </select>
  <div>
    <label for="title"> Title </label>
    <input id="title" type="text" name="title"/>
  </div>
  <label for="quantity"> Quantity </label>
  <input id="quantity" type="text" name="quantity"/>
  <div>
    <label for="buy-price"> Buy Price </label>
    <input id="buy-price" type="text" name="buy_price"/>
  </div>
  <label for="sell-price"> Sell Price </label>
  <input id="sell-price" type="text" name="sell_price"/>
  <div id="add_album_button">
    <button type="submit">Add Album</button>
  </div>
</form>
